/venv
feedbacks_novo.csv\357\200\272Zone.Identifier
analise_dados_nps_funcional.ipynb
analise_dados_nps_imperativo.ipynb
analise_dados_nps_oo.ipynb
/backup
.env
img-nps.png:Zone.Identifier
openia.png:Zone.Identifier